@import url("/fonts/Inter-4.1/web/inter.css");

:root {
  font-family: 'Inter', sans-serif;
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: 'InterVariable', sans-serif;
    font-variation-settings: "wght" 400, "opsz" 32;
    font-feature-settings: "case" 0, "dlig" 0, "frac" 0, "dnom" 0, "numr" 0, "subs" 0, "sups" 0, "tnum" 0, "zero", "ss01", "ss02" 0, "ss03" 0, "ss04" 0, "ss05" 0, "ss06" 0, "ss07" 0, "ss08" 0, "cv01" 0, "cv02" 0, "cv03" 0, "cv04" 0, "cv05", "cv06", "cv07", "cv08" 0, "cv09" 0, "cv10" 0, "cv11", "cv12", "cv13", "cpsp", "c2sc" 0, "salt" 0, "aalt" 0, "calt", "ccmp", "locl", "kern";
  }
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin: 0;
  height: 100vh;
}

